Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.sdf
*.opt
*.swp/
**/*.swp

# .vs folder
.vs/

# _WDK folder
_WDK/
!_WDK/WDK.7z

# _Compilers folder
_Compilers/
!_Compilers/Compilers.7z

# _Libs folder
_Libs/
!_Libs/Libs.7z

# .idea folder
.idea/

# Build results
Build/